<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.knime.workbench.repository.categories">
   <category after="" description="Nodes for spectrometry data analysis" icon="icons/blank.png" level-id="masscascade" name="MassCascade" path="/community"/>
      <category description="Nodes for sample alignment" icon="icons/blank.png" level-id="alignment" name="Alignment" path="/community/masscascade">
      </category>
      <category description="Nodes for background correction" icon="icons/blank.png" level-id="background" name="Background" path="/community/masscascade">
      </category>
      <category description="Nodes for data binning" icon="icons/blank.png" level-id="binning" name="Binning" path="/community/masscascade">
      </category>
      <category description="Nodes for online database searches" icon="icons/blank.png" level-id="database" name="Database" path="/community/masscascade">
      </category>
      <category description="Input and output nodes" icon="icons/blank.png" level-id="io" name="I/O" path="/community/masscascade">
      </category>
      <category description="Convenient nodes" icon="icons/blank.png" level-id="misc" name="Misc" path="/community/masscascade">
      </category>
      <category description="Nodes for data smoothing" icon="icons/blank.png" level-id="smoothing" name="Smoothing" path="/community/masscascade">
      </category>
      <category description="Nodes for data visualisation" icon="icons/blank.png" level-id="viewer" name="Visualisation" path="/community/masscascade">
      </category>
      <category description="Nodes for molecule fragmentation" icon="icons/blank.png" level-id="fragmentation" name="Fragmentation" path="/community/masscascade">
      </category>
      <category description="Nodes for feature extraction" icon="icons/blank.png" level-id="profilePerception" name="Profile Perception" path="/community/masscascade">
      </category>
      <category icon="icons/blank.png" level-id="profileBuilder" name="Profile Builder" path="/community/masscascade">
      </category>
      <category icon="icons/blank.png" level-id="curation" name="Curation" path="/community/masscascade">
      </category>
      <category icon="icons/blank.png" level-id="gapFilling" name="Gap Filling" path="/community/masscascade">
      </category>
      <category icon="icons/blank.png" level-id="identification" name="Identification" path="/community/masscascade">
      </category>
      <category icon="icons/blank.png" level-id="profileVisualisation" name="Profile Visualisation" path="/community/masscascade/viewer">
      </category>
      <category icon="icons/blank.png" level-id="dataVisualisation" name="Data Visualisation" path="/community/masscascade/viewer">
      </category>
      <category icon="icons/blank.png" level-id="deconvolution" name="Deconvolution" path="/community/masscascade">
      </category>
   </extension>
   <extension point="org.knime.workbench.repository.nodes">
<node category-path="/community/masscascade/io" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.io.read.MsFileReaderNodeFactory" id="uk.ac.ebi.masscascade.knime.io.read.MsFileReaderNodeFactory"/>
<node category-path="/community/masscascade/viewer/dataVisualisation" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.visualization.totalion.TicViewerNodeFactory" id="uk.ac.ebi.masscascade.knime.visualization.totalion.TicViewerNodeFactory"/>
<node category-path="/community/masscascade/database" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.database.metlin.MetlinNodeFactory" id="uk.ac.ebi.masscascade.knime.database.metlin.MetlinNodeFactory"/>
<node category-path="/community/masscascade/database" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.database.local.LibSearchNodeFactory" id="uk.ac.ebi.masscascade.knime.database.local.LibSearchNodeFactory"/>
<node category-path="/community/masscascade/smoothing" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.smoothing.sg.SavitzkyGolaySmootherNodeFactory" id="uk.ac.ebi.masscascade.knime.smoothing.sg.SavitzkyGolaySmootherNodeFactory"/>
<node category-path="/community/masscascade/binning" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.binning.mz.MsBinnerMzNodeFactory" id="uk.ac.ebi.masscascade.knime.binning.mz.MsBinnerMzNodeFactory"/>
<node category-path="/community/masscascade/viewer/dataVisualisation" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.visualization.spectrum.SpectrumViewerNodeFactory" id="uk.ac.ebi.masscascade.knime.visualization.spectrum.SpectrumViewerNodeFactory"/>
<node category-path="/community/masscascade/smoothing" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.smoothing.median.MovingMedianSmootherNodeFactory" id="uk.ac.ebi.masscascade.knime.smoother.median.MovingMedianSmootherNodeFactory"/>
<node category-path="/community/masscascade/viewer/dataVisualisation" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.visualization.spectrum.compare.SpectrumComparatorNodeFactory" id="uk.ac.ebi.masscascade.knime.visualization.spectrum.compare.SpectrumComparatorNodeFactory"/>
<node category-path="/community/masscascade/viewer/dataVisualisation" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.visualization.base.BasePeakViewerNodeFactory" id="uk.ac.ebi.masscascade.knime.visualization.base.BasePeakViewerNodeFactory"/>
<node category-path="/community/masscascade/binning" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.binning.rt.MsBinnerRtNodeFactory" id="uk.ac.ebi.masscascade.knime.binning.rt.MsBinnerRtNodeFactory"/>
<node category-path="/community/masscascade/misc" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.utilities.unify.MsUnifierNodeFactory" id="uk.ac.ebi.masscascade.knime.utilities.unify.MsUnifierNodeFactory"/>
<node category-path="/community/masscascade/alignment" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.alignment.fastdtw.MsFastDtwNodeFactory" id="uk.ac.ebi.masscascade.knime.alignment.fastdtw.MsFastDtwNodeFactory"/>
<node category-path="/community/masscascade/alignment" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.alignment.obiwarp.ObiwarpNodeFactory" id="uk.ac.ebi.masscascade.knime.alignment.obiwarp.ObiwarpNodeFactory"/>
<node category-path="/community/masscascade/background" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.noisesubtraction.bgs.MsBackgroundRemoverNodeFactory" id="uk.ac.ebi.masscascade.knime.noisesubtraction.bgs.MsBackgroundRemoverNodeFactory"/>
<node category-path="/community/masscascade/background" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.profileselection.durbin.DurbinFilterNodeFactory" id="uk.ac.ebi.masscascade.knime.profileselection.DurbinFilterNodeFactory"/>
<node category-path="/community/masscascade/background" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.profileselection.coda.CodaFilterNodeFactory" id="uk.ac.ebi.masscascade.knime.profileselection.coda.CodaFilterNodeFactory"/>
<node category-path="/community/masscascade/io" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.io.write.MsFileWriterNodeFactory" id="uk.ac.ebi.masscascade.knime.io.write.MsFileWriterNodeFactory"/>
<node category-path="/community/masscascade/background" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.noisesubtraction.nora.MsNoiseReductionNodeFactory" id="uk.ac.ebi.masscascade.knime.noisesubtraction.nora.MsNoiseReductionNodeFactory"/>
<node category-path="/community/masscascade/profilePerception" factory-class="uk.ac.ebi.masscascade.knime.profileperception.wavelet.WaveletCompilerNodeFactory" id="uk.ac.ebi.masscascade.knime.profileperception.wavelet.WaveletCompilerNodeFactory"/>
<node category-path="/community/masscascade/profileBuilder" factory-class="uk.ac.ebi.masscascade.knime.profilebuilding.tracebuilder.TraceBuilderNodeFactory" id="uk.ac.ebi.masscascade.knime.profilebuilding.tracebuilder.TraceBuilderNodeFactory"/>
<node category-path="/community/masscascade/viewer/profileVisualisation" factory-class="uk.ac.ebi.masscascade.knime.visualization.profiletable.ProfileTableNodeFactory" id="uk.ac.ebi.masscascade.knime.visualization.profiletable.ProfileTableNodeFactory"/>
<node category-path="/community/masscascade/viewer/profileVisualisation" factory-class="uk.ac.ebi.masscascade.knime.visualization.profiletwod.ProfileTwoDNodeFactory" id="uk.ac.ebi.masscascade.knime.visualization.profiletwod.ProfileTwoDNodeFactory"/>
<node category-path="/community/masscascade/viewer/profileVisualisation" factory-class="uk.ac.ebi.masscascade.knime.visualization.totalionprofile.TicProfileViewerNodeFactory" id="uk.ac.ebi.masscascade.knime.visualization.totalionprofile.TicProfileViewerNodeFactory"/>
<node category-path="/community/masscascade/misc" factory-class="uk.ac.ebi.masscascade.knime.utilities.profilefilter.ProfileFilterNodeFactory" id="uk.ac.ebi.masscascade.knime.utilities.profilefilter.ProfileFilterNodeFactory"/>
<node category-path="/community/masscascade/misc" factory-class="uk.ac.ebi.masscascade.knime.utilities.spectrumfilter.SpectrumFilterNodeFactory" id="uk.ac.ebi.masscascade.knime.utilities.spectrumfilter.SpectrumFilterNodeFactory"/>
<node category-path="/community/masscascade/misc" factory-class="uk.ac.ebi.masscascade.knime.utilities.scanfilter.ScanFilterNodeFactory" id="uk.ac.ebi.masscascade.knime.utilities.scanfilter.ScanFilterNodeFactory"/>
<node category-path="/community/masscascade/misc" factory-class="uk.ac.ebi.masscascade.knime.utilities.meta.PropertyExtractorNodeFactory" id="uk.ac.ebi.masscascade.knime.utilities.meta.PropertyExtractorNodeFactory"/>
<node category-path="/community/masscascade/misc" factory-class="uk.ac.ebi.masscascade.knime.utilities.massfilter.MassTraceFilterNodeFactory" id="uk.ac.ebi.masscascade.knime.utilities.massfilter.MassTraceFilterNodeFactory"/>
<node category-path="/community/masscascade/profileBuilder" factory-class="uk.ac.ebi.masscascade.knime.profilebuilding.tracejoiner.MassTraceCompilerNodeFactory" id="uk.ac.ebi.masscascade.knime.profilebuilding.tracejoiner.MassTraceCompilerNodeFactory"/>
<node category-path="/community/masscascade/gapFilling" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.gapfilling.SplineGapFillerNodeFactory" id="uk.ac.ebi.masscascade.knime.gapfilling.SplineGapFillerNodeFactory"/>
<node category-path="/community/masscascade/profileBuilder" factory-class="uk.ac.ebi.masscascade.knime.profilebuilding.tracesplitter.MassTraceSplitterNodeFactory" id="uk.ac.ebi.masscascade.knime.profilebuilding.tracesplitter.MassTraceSplitterNodeFactory"/>
<node category-path="/community/masscascade/identification" factory-class="uk.ac.ebi.masscascade.knime.identification.isotope.IsotopeFinderNodeFactory" id="uk.ac.ebi.masscascade.knime.identification.isotope.IsotopeFinderNodeFactory"/>
<node category-path="/community/masscascade/identification" factory-class="uk.ac.ebi.masscascade.knime.identification.adduct.AdductFinderNodeFactory" id="uk.ac.ebi.masscascade.knime.identification.adduct.AdductFinderNodeFactory"/>
<node category-path="/community/masscascade/viewer/profileVisualisation" factory-class="uk.ac.ebi.masscascade.knime.visualization.pseudospectrum.PseudoSpectrumNodeFactory" id="uk.ac.ebi.masscascade.knime.visualization.pseudospectrum.PseudoSpectrumNodeFactory"/>
<node category-path="/community/masscascade/deconvolution" factory-class="uk.ac.ebi.masscascade.knime.deconvolution.biehman.BiehmanDeconvolutionNodeFactory" id="uk.ac.ebi.masscascade.knime.deconvolution.biehman.BiehmanDeconvolutionNodeFactory"/>
<node category-path="/community/masscascade/io" factory-class="uk.ac.ebi.masscascade.knime.io.convert.ProfileConverterNodeFactory" id="uk.ac.ebi.masscascade.knime.io.convert.ProfileConverterNodeFactory"/>
<node category-path="/community/masscascade/io" factory-class="uk.ac.ebi.masscascade.knime.io.convert.ProfileMatrixNodeFactory" id="uk.ac.ebi.masscascade.knime.io.convert.ProfileMatrixNodeFactory"/>
<node category-path="/community/masscascade/profilePerception" factory-class="uk.ac.ebi.masscascade.knime.profileperception.correlation.CosineCompilerNodeFactory" id="uk.ac.ebi.masscascade.knime.profileperception.correlation.CosineCompilerNodeFactory"/>
<node category-path="/community/masscascade/database" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.database.chemspider.ChemspiderNodeFactory" id="uk.ac.ebi.masscascade.knime.database.Chemspider.ChemspiderNodeFactory"/>
<node category-path="/community/masscascade/database" expert-flag="false" factory-class="uk.ac.ebi.masscascade.knime.database.massbank.MassbankNodeFactory" id="uk.ac.ebi.masscascade.knime.database.massbank.MassbankNodeFactory"/>
<node category-path="/community/masscascade/identification" factory-class="uk.ac.ebi.masscascade.knime.identification.ion.IonSearchNodeFactory" id="uk.ac.ebi.masscascade.knime.identification.ion.IonSearchNodeFactory"/>
<node category-path="/community/masscascade/identification" factory-class="uk.ac.ebi.masscascade.knime.identification.isotope.remove.IsotopeRemoverNodeFactory" id="uk.ac.ebi.masscascade.knime.identification.isotope.remove.IsotopeRemoverNodeFactory"/>
<node category-path="/community/masscascade/deconvolution" factory-class="uk.ac.ebi.masscascade.knime.deconvolution.savitzkygolay.SavitzkyGolayDeconvolutionNodeFactory" id="uk.ac.ebi.masscascade.knime.deconvolution.savitzkygolay.SavitzkyGolayDeconvolutionNodeFactory"/>
<node category-path="/community/masscascade/viewer/profileVisualisation" factory-class="uk.ac.ebi.masscascade.knime.visualization.profile.ProfileViewerNodeFactory" id="uk.ac.ebi.masscascade.knime.visualization.profile.ProfileViewerNodeFactory"/>
<node category-path="/community/masscascade/profilePerception" factory-class="uk.ac.ebi.masscascade.knime.profileperception.biehman.BiehmanCompilerNodeFactory" id="uk.ac.ebi.masscascade.knime.profileperception.biehman.BiehmanCompilerNodeFactory"/>
<node category-path="/community/masscascade/profilePerception" factory-class="uk.ac.ebi.masscascade.knime.msn.MsnBuilderNodeFactory" id="uk.ac.ebi.masscascade.knime.msn.MsnBuilderNodeFactory"/>
<node category-path="/community/masscascade/identification" factory-class="uk.ac.ebi.masscascade.knime.msn.MsnEnumeratorNodeFactory" id="uk.ac.ebi.masscascade.knime.msn.MsnEnumeratorNodeFactory"/>
<node category-path="/community/masscascade/io" factory-class="uk.ac.ebi.masscascade.knime.io.reference.LibraryGeneratorNodeFactory" id="uk.ac.ebi.masscascade.knime.io.reference.LibraryGeneratorNodeFactory"/>
<node category-path="/community/masscascade/curation" factory-class="uk.ac.ebi.masscascade.knime.curation.bless.BlessTableNodeFactory" id="uk.ac.ebi.masscascade.knime.curation.bless.BlessTableNodeFactory"/>
<node category-path="/community/masscascade/curation" factory-class="uk.ac.ebi.masscascade.knime.curation.brush.BrushNodeFactory" id="uk.ac.ebi.masscascade.knime.curation.brush.BrushNodeFactory"/>
</extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page category="org.knime.workbench.ui.preferences" class="uk.ac.ebi.masscascade.knime.preferences.PreferencePage" id="uk.ac.ebi.masscascade.knime.MassCascadePreferencePage" name="MassCascade">
      </page>
   </extension>
   <extension point="org.eclipse.equinox.preferences.preferences">
      <initializer class="uk.ac.ebi.masscascade.knime.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.knime.product.splashExtension">
      <splashExtension icon="icons/ms_splash.png" id="massSpectrometry" tooltip="Mass Spectrometry">
      </splashExtension>
   </extension>
</plugin>
